.search-container {
	margin: 0 auto;
	max-width: 1200px;
	padding-top: 100px;

	#searchsubmit {
		background: black;
		border: none;
		box-shadow: none;
		color: white;
		height: 40px;
		padding: 10px;
	}

	input#s {
		box-sizing: border-box;
		min-width: 400px;
		padding: 0;
		padding-left: 10px;
		height: 40px;
	}
}