body {
	font-family: Raleway,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;
	margin: 0;
}

header {
	background-color: rgba(255, 255, 255, 0.55);
	box-sizing: border-box;
	padding: 10px 20px;
	position: absolute;
	width: 100%;
	z-index: 11;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-name {
	font-size: 24px;
	font-weight: 800;
}

.burger {
	background-color: white;
    border: 2px solid #d9d9d9;
    cursor: pointer;
    flex-shrink: 0;
    height: 30px;
    position: relative;
    width: 30px;

	&:before, &:after {
		background-color: #1a1a1a;
	    content: "";
	    height: 2px;
	    left: 9px;
	    position: absolute;
	    width: 12px;
	}

	&:before {
		top: 11px;
	}

	&:after {
		bottom: 11px;
	}
}

.search {
	svg {
		stroke: black;
	}
}

.off-canvas {
	-webkit-overflow-scrolling: touch;
    background-color: white;
    height: 100vh;
    overflow-y: scroll;
    padding: 20px 30px 64px;
    transform: translateX(350px);
    transition: transform .4s ease;
    width: 350px;
    z-index: 100;
    position: fixed;
    right: 0;
    top: 0;
    box-sizing: border-box;

    transition: all .4s ease;
    visibility: hidden;

    &.visible {
    	visibility: visible;
    	transform: translateX(0);
    }

    ul {
    	list-style: none;
    	padding-left: 0;

    	.sub-menu {
    		margin-left: 20px;
    		margin-top: 20px;
    	}

    	li {
    		margin-bottom: 20px;

    		a {
    			color: black;
    			font-size: 15px;
    			font-weight: 700;
    			text-decoration: none;
    		}
    	}
    }

    .menu-header {
    	display: flex;
	    justify-content: space-between;
	    align-items: center;
    }

    .close {
    	cursor: pointer;
    	width: 100%;
	    max-width: 25px;
    }
}